body, html {
    height: 100%;
    margin: 0;
    font-family: sans-serif
}

.container {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: #0284c7;
    color: white;
    align-items: center;
    justify-items: center;

}

.sideBarItem {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.sideBarIcon {
align-self: center;
justify-self: center;
width: 30px;
fill: white;
}

.sideBarIcon img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}


.sideBarText {
align-self: center;
justify-self: center;
margin-left: 5px;
}

.logo {
    grid-row: 1 / 3;
    
    
}

.home {
    grid-row: 3 / 4;
}

.profile {
    grid-row: 4 / 5;
}

.messages {
    grid-row: 5 / 6;
}

.history {
    grid-row: 6 / 7;
}

.tasks {
    grid-row: 7 / 8;
}

.communities {
    grid-row: 8 / 9;
}

.settings {
    grid-row: 10 / 11;
}

.support {
    grid-row: 11 / 12;
}

.privacy {
    grid-row: 12 / 13;
}


.header {
    display: grid;
    grid-template-columns: 6fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-items: center;
    height: 120px;
    padding: 10px;
    background-color: white;
}

.header button {
    border: none;
    border-radius: 20px;
    height: 35px;
    width: 100px;
    margin: 10px;
    background-color: #0284c7;
    color: white;
    font-weight: 600;

}

.searchBar {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border-style: none;
    background-color: #e2e8f0;
    height: 25px;
    border-radius: 15px;
    margin-left: 60px;
}

.searchLabel {
    position: absolute;
    top: 30px;
}

.alerts {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-left: 50px;
}

.alerts img {
    height: 30px;
    position: relative;
    
    left: 85px;
}

.smallAvatar {
    grid-column: 3 / 4;
    grid-row: 1 / 2;  
    border-radius: 50px;
    width: 55px;
    height: 55px;
    padding-left: 60px;
}



.userName {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    font-weight: 700;
    font-size: 18px;
}

.greeting {
grid-column: 1 / 2;
grid-row: 2 / 3;
display: grid;
grid-template-columns: 1fr 5fr;
grid-template-rows: 1fr 1fr;
}

.bigAvatar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    height: 65px;
    width: 65px;
    margin-left: 50px;
}

.hiThere {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    font-size: 12px;
    align-self: end;
}

.bigUserName {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    font-size: 20px;
    font-weight: 600;
}

.newProjectButton {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.uploadButton {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.shareButton {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

.mainContent {
   grid-column: 2 / 3;
   grid-row: 2 / 3;
   background-color: #e2e8f0;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   padding: 25px;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.projectCard {
    border-radius: 6px;
    width: 300px;
    height: 180px;
    background-color:white;
    padding: 5px 5px 5px 8px;
    border-left: solid 10px gold;
    box-shadow: 0 4px 2px -2px lightgray;
}

.projectCard div {
    color: grey;
}

.rightBar {
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr 1fr;
}

.announcements {
    border-radius: 6px;
    background-color: white;
    box-shadow: 0 4px 2px -2px lightgray;
    padding: 5px 5px 5px 8px;
    height: 260px;
    width: 200px;
    margin-left: 30px;
}

.trending {
    border-radius: 6px;
    background-color: white;
    box-shadow: 0 4px 2px -2px lightgray;
    padding: 5px 5px 5px 8px;
    height: 260px;
    width: 200px;
    margin-left: 30px;
}