body, html {
    height: 100%;
    margin: 0;
    font-family: sans-serif
}

.container {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: #0284c7;
    align-items: center;
    justify-items: center;

}

.logo {
    grid-row: 1 / 3;
    
    
}

.home {
    grid-row: 3 / 4;
}

.profile {
    grid-row: 4 / 5;
}

.messages {
    grid-row: 5 / 6;
}

.history {
    grid-row: 6 / 7;
}

.tasks {
    grid-row: 7 / 8;
}

.communities {
    grid-row: 8 / 9;
}

.settings {
    grid-row: 10 / 11;
}

.support {
    grid-row: 11 / 12;
}

.privacy {
    grid-row: 12 / 13;
}


.header {
    display: grid;
    grid-template-columns: 6fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-items: center;
    height: 120px;
    padding: 10px;
}

.header button {
    border: none;
    border-radius: 20px;
    height: 35px;
    width: 100px;
    margin: 10px;
    background-color: #0284c7;
    color: white;
    font-weight: 600;

}

.searchBar {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border-style: none;
    background-color: #e2e8f0;
    height: 25px;
    border-radius: 15px;
    margin-left: 60px;
}

.searchLabel {
    position: absolute;
    top: 30px;
}

.alerts {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-left: 50px;
}

.alerts img {
    height: 30px;
}

.smallAvatar {
    grid-column: 3 / 4;
    grid-row: 1 / 2;  
    border-radius: 50px;
    width: 55px;
    height: 55px;
}



.userName {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    font-weight: 700;
    font-size: 18px;
}

.greeting {
grid-column: 1 / 2;
grid-row: 2 / 3;
}

.newProjectButton {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.uploadButton {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.shareButton {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

.mainContent {
   grid-column: 2 / 3;
   grid-row: 2 / 3;
   background-color: #e2e8f0;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   padding: 25px;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.projectCard {
    border: solid 1px black;
    width: 250px;
    height: 180px;
}

.rightBar {
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr 1fr;
}

.announcements {
    border: solid 1px black;
    height: 260px;
    width: 200px;
}

.trending {
    border: solid 1px black;
    height: 260px;
    width: 200px;
}